.form {
    padding: 20px 20px;
    outline: 2px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    width: 100vw;
    z-index: 2;
    max-width: 500px;
    p{
        width: 100%;
        color: white;
    z-index: 2;
    font-size: 20px;
    }
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px) brightness(0.6);
         -webkit-backdrop-filter: blur(20px);
    }
    .title {
        font-size: 36px;
        color: whitesmoke;
        font-weight: 600;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 7px;
        z-index: 2;
        margin-bottom: 20px;
        &::first-letter{
            color: #ec6a00;
        }
        .first-letter{
            color: whitesmoke;
            &::first-letter{
                color: #ec6a00;
            }
        }
            
        
    }

    .input__container {

        width: 100%;
        border-bottom: 1px solid whitesmoke;
        color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        margin: 15px 0;
        svg{
            margin-right: 10px;
            color: rgba(245, 245, 245, 0.80);
            padding-bottom: 4px;
            color: #ec6a00;

        }
        input{
            all: unset;
            font-size: 22px;
            margin-left: 10px;
            padding-bottom: 5px;
            background-color: transparent;
            width: 100%;
            &.password{
                -webkit-text-security: disc;
            }
            &::placeholder{
                color: rgba(245, 245, 245, 0.65);
            }
        }

    }
    button{
        padding: 5px 10px;
        margin-top: 20px;
        border: 1px solid #ffb477;
        background-color: transparent;
        z-index: 2;
        align-self: flex-end;
        font-size: 22px;
        font-weight: 500;
        color: whitesmoke;
        animation: all 0.5s ease-in-out;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            border: #ff7300 1px solid;
            color: #ffffff;

        }
    }
}