.input__component {
    display: flex;
    flex-direction: column;
    gap: 12px;

    input {
        all: unset;
        background: whitesmoke;
        padding: 3px 8px;
        border-radius: 3px;
        position: relative;

        &:invalid {
            outline: rgb(255, 63, 63) 2px solid !important;

        }

    }
}