.home__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    flex-direction: column;
    .header{
        margin: 25px 0;
        display: flex;
        justify-content: space-between;
        width: 80%;
       
        }
    
    button{
        all: unset;
        padding: 15px 30px;
        outline: 1px solid #ffffff;
    color: #ffffff;    
    background-color: rgb(36, 36, 36);
    display: flex;
    font-weight: 500;
    align-items: center;
    border-radius: 13px;
    justify-content: space-between;
    font-size: 26px;
    margin-bottom: 20px;
    .icon{
        margin-left: 10px;
        stroke-width: 2.5px;
    }
}
}
.addACC{
     all: unset;
        padding: 15px 30px;
        outline: 1px solid #ffffff;
    color: #ffffff;    
    background-color: rgb(36, 36, 36);
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 20px;
    .icon{
        margin-left: 10px;
        stroke-width: 2.5px;
    }
}

