.addMat{
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    gap: 10px;
}
.intervention__container {
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.5);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 12px;

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        h1{
            width: 100%;
            background-color: whitesmoke;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            text-transform: uppercase;
            padding: 8px 10px;
        }
        .informations {
            width: 100%;
            text-align: center;
            font-size: 22px;
            display: flex;
            flex-direction: column;
            max-height: 30vh;
            overflow: auto;
            gap: 2px;
            padding-bottom: 10px;
            padding-top: 15px;
            p {
                font-size: 17px;
                padding: 5px 20px;
                b{
                    color: rgb(122, 55, 0);
                    font-weight: 800;
                }
            }
        }

        .materials {
            overflow: auto;
            width: 100%;
            flex: 1;
            &::-webkit-scrollbar {
                width: 10px; /* Largeur de la scrollbar */
                height: 10px;
              }
        &::-webkit-scrollbar-track {
            background: transparent;
            width: 8px;
        }
        
        
        &::-webkit-scrollbar-thumb{
            background-color: #121212c7;
            border-radius: 15px;
        }
            .row__material{
                &:nth-child(2n){
                    background-color: rgba(245, 245, 245, 0.418);
                }
                display: flex;
                max-width: 100%;
                padding: 20px 20px;
                justify-content: space-between;
                align-items: center;

                .separation{
                    height: 1px;
                    flex: 1;
                    min-width: 20px;
                    margin: 0 15px;
                    background-color: rgb(34, 34, 34)
                }
            }
            p{
                font-size: 20px;
                font-weight:500;
                text-wrap: nowrap;
                &.nametxt{
                    max-width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-wrap: wrap;
                }
                &.qty{
                    width: 26px;
                    text-align: right;
                }

            }

        }
    }

    .buttons__container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .btn {
            width: 100%;
            justify-content: center;
            height: 90px;
            gap: 2px;
            padding: 0 5px;
            background-color: black;
            display: flex; text-align: center;
            justify-content: center;
            align-items: center;
            font-size: 19px;
            font-weight: 600;
            &:first-child{
                border-left: none;
            }
            &:last-child{
                border-right: none;
            }
            &.add{
                background-color: rgb(127, 255, 159);
            }
            &.end{
                background-color: rgb(255, 121, 121);

            }
            &.transfer{
                background-color: rgb(121, 239, 255);;
            }
        }
    }
}