@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

.background {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;

    background-image: url("../../public/bg.jpg");
    background-size: cover;
    filter: sepia(1) grayscale(0.7) brightness(0.3);
}

.bold {
    font-weight: 600;
}

section.content {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100vh;
    width: 100vw;

    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.roleBtn__container{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.roleBtn{
    width: fit-content!important;
}
.background__dialog {
    display: none;

    &.visible {
        position: fixed;
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 899;
    }
}
.react-dropdown-select-item:nth-child(even){
background-color: rgb(221, 221, 221);
}
.modal-quantity {
    position: fixed;
    background-color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    padding: 10px 25px;
    left: 50%;
    z-index: 1500;

    input {
        border: 1px solid black;
        font-size: 24px;
        padding: 5px;
        margin: 8px 0;
    }

    .modal-buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
.delete:hover>svg{
    stroke: red;
}
.delete svg{
    transition: 0.3s all;
}
.closedinter{
    margin-top: 0px!important;
}
.closingDate{
    width: 250px !important;
    justify-self: center;
}
.mgb{
    margin-bottom: 15px;
}
.selectgroup{
    font-size: 17px!important;
    padding: 3px 8px!important;
    margin: 10px!important;
}
.dialog__notification {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
    background-color: whitesmoke;
    min-height: 150px;
    width: 100vw;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0 10px 0;
    align-items: center;
    border-top: 2px solid rgb(14, 14, 14);
    border-bottom: 2px solid rgb(14, 14, 14);
    font-size: 22px;
    justify-content: center;
    z-index: 900;

    .select {
        margin-top: 10px;
    }

    &.visible {
        display: flex;
    }

    .dialog__content {
        color: rgb(24, 24, 24);
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        width: 80%;
        max-height: 60vh;
        overflow: auto;
        input{
            all: unset;
            padding: 5px;
            background-color: whitesmoke;
            border: 1px solid black;

        }
        label{
            margin-bottom: 5px;
        }
        .selected{
            background-color: #ec6a00;
                        color: black;

        }
        .notselected{
            background-color: whitesmoke;
            color: black;
        }
        .material-list {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 40px;
            overflow: scroll;
            max-height: 45vh;
            flex-direction: column;
        }
        .center{
            display: flex;
            justify-self: center;
            background-color: #ec6a00;
            color: BLACK;
            font-weight: 600;
            letter-spacing: 0.8PX;
            font-size: 22px;
        }
        .input__container {
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;

            input {
                font-size: 20px;
                width: 100%;
                padding: 8px 15px;
                outline: none;
                border: 1px solid black;
            }
        }

        

        .material-item {
            font-size: 22px;
            color: rgb(20, 20, 20);
            padding: 3px 15px;
        }

        .material-item:nth-child(even) {
            background-color: rgb(172, 201, 202);
        }
    }
    .material-items{
        height: auto;
        max-height: 40vh;
        overflow: scroll;
    }
    .material__row {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        margin-top: 10px;
        align-items: center;
        width: 100%;

        p {
            overflow: hidden;
            width: 60%;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }

        input {
            width: 100px;
            outline: none;
            border-radius: none;
            border: 1px solid rgb(32, 32, 32);
            padding: 4px 15px;
            font-size: 22px;
        }
    }

    button {
        margin-top: 10px;
        font-size: 18px;
        border: 2px solid #ec6a00;
        background-color: rgb(243, 243, 243);
        font-weight: 600;
        color: rgb(14, 14, 14);
        z-index: 2;
        padding: 3px 25px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: #ec6a00;
            color: whitesmoke;
        }
    }
}
.list__acc{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.puce__acc{
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 5px 15px;
        background-color: #dbdbdb;
        &:nth-child(even){
            background-color: rgb(156, 156, 156);
        }
    align-items: center;
    button{
        all: unset;
        background-color: rgb(255, 101, 101);
        color: rgb(15, 15, 15);
        border-radius: 6px;
        padding: 5px 10px;
        font-weight: 500;
    }
}
.checkbox{
    height: 100%!important;
    aspect-ratio: 1/1!important;
}
.react-dropdown-select-dropdown-handle {
svg{
    height: 45px!important;
    width: 45px!important;
}}
.react-dropdown-select-input.css-m6dlzq-InputComponent.e11wid6y0{
    font-size: 27px ;

}
.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 950;

}
.selectBtn:nth-child(1){
    border-bottom: 2px solid black;
}
.selectBtn{
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 5px 10px;
    
}
.oranged{
    background-color: #ec6a00!important;
    color: #0e0e0e;
    font-weight: 600;
    font-size: 22px!important;
}
.presetClient{
    align-self: center!important;
}
.groupName{
    text-transform: uppercase;
}
.clientName{
    text-transform: capitalize;
}
.clientList{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
    p:nth-child(even){
                 background-color: rgb(172, 201, 202);
        
    }
    p{
        padding: 5px 10px;
        font-size: 25px;
        width: 100%;
        
    }
}
.display__previsualisation {
    width: 80vw;
    font-size: 25px;

    .material__list__previsualisation {
        margin-top: 10px;
        height: 100%;
        overflow: scroll;
    }
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.confirm,
.cancel {
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}